*.log
*.blg
*.out
*.spl
*.gz
*.aux
draft_algorithm.tex
NeuroSeg_MIA.pdf
NeuroSeg_TMI.pdf
draft.tex
Illustrations/BigNeuron_comparison_v2_1.pdf
Illustrations/BigNeuron_comparison_v2_2.pdf
~$sponse to Reviewers TMI-2019-1442_20200320.docx
Response to Reviewers TMI-2019-1442_20200327.pdf
